In [1]:
# Import module
import pandas as pd 

import json 
import pickle

In [8]:
# Memuat cols
with open('list_cols.txt', 'r') as file_1:
  cols = json.load(file_1)

# Memuat scaler
with open('scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)

# Memuat PCA
with open('pca.pkl', 'rb') as file_3:
  pca = pickle.load(file_3)

# Memuat model
with open('model.pkl', 'rb') as file_4:
  km = pickle.load(file_4)

In [5]:
# Membuat data dummy dari data asli
dummy_data = {
  "CUST_ID": [5070, 5628, 3370, 2972, 4722, 4118, 2002, 2842, 6210, 7760],
  "BALANCE": [1943.792266, 1780.188356, 52.485431, 805.368458, 1179.746682, 7.980453, 949.530268, 1157.168369, 1603.991792, 1060.039731],
  "BALANCE_FREQUENCY": [1.0, 1.0, 1.0, 1.0, 1.0, 0.272727, 1.0, 1.0, 1.0, 1.0],
  "PURCHASES": [83.35, 845.67, 1476.02, 0.0, 30.0, 0.0, 45.65, 0.0, 0.0, 340.0],
  "ONEOFF_PURCHASES": [0.0, 31.5, 644.07, 0.0, 30.0, 0.0, 45.65, 0.0, 0.0, 49.0],
  "INSTALLMENTS_PURCHASES": [83.35, 814.17, 831.95, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 291.0],
  "CASH_ADVANCE": [0.0, 4137.170984, 0.0, 1257.626787, 39.323999, 95.842922, 47.786053, 1249.682243, 73.24187, 0.0],
  "PURCHASES_FREQUENCY": [0.142857, 0.75, 1.0, 0.0, 0.166667, 0.0, 0.083333, 0.0, 0.0, 0.5],
  "ONEOFF_PURCHASES_FREQUENCY": [0.0, 0.166667, 0.833333, 0.0, 0.166667, 0.0, 0.083333, 0.0, 0.0, 0.083333],
  "PURCHASES_INSTALLMENTS_FREQUENCY": [0.142857, 0.583333, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.416667],
  "CASH_ADVANCE_FREQUENCY": [0.0, 1.0, 0.0, 0.333333, 0.166667, 0.083333, 0.083333, 0.583333, 0.166667, 0.0],
  "CASH_ADVANCE_TRX": [0, 71, 0, 7, 2, 1, 1, 10, 2, 0],
  "PURCHASES_TRX": [1, 16, 41, 0, 4, 0, 1, 0, 0, 7],
  "CREDIT_LIMIT": [4000.0, 2500.0, 7000.0, 1000.0, 1200.0, 9500.0, 1000.0, 3000.0, 1700.0, 2500.0],
  "PAYMENTS": [290.353132, 3989.545295, 1149.01904, 1515.789235, 264.032163, 198.014471, 303.450157, 264.548484, 437.134508, 261.761454],
  "MINIMUM_PAYMENTS": [276.463002, 566.947431, 97.339489, 201.815134, 351.744608, 165.091997, 456.016895, 326.316359, 673.208585, 243.685673],
  "PRC_FULL_PAYMENT": [0.0, 0.090909, 0.454545, 0.083333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
  "TENURE": [7, 12, 12, 12, 12, 12, 12, 12, 12, 12]
}

df_dummy_data = pd.DataFrame(dummy_data)
df_dummy_data

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,5070,1943.792266,1.000000,83.35,0.00,83.35,0.000000,0.142857,0.000000,0.142857,0.000000,0,1,4000.0,290.353132,276.463002,0.000000,7
1,5628,1780.188356,1.000000,845.67,31.50,814.17,4137.170984,0.750000,0.166667,0.583333,1.000000,71,16,2500.0,3989.545295,566.947431,0.090909,12
2,3370,52.485431,1.000000,1476.02,644.07,831.95,0.000000,1.000000,0.833333,1.000000,0.000000,0,41,7000.0,1149.019040,97.339489,0.454545,12
3,2972,805.368458,1.000000,0.00,0.00,0.00,1257.626787,0.000000,0.000000,0.000000,0.333333,7,0,1000.0,1515.789235,201.815134,0.083333,12
4,4722,1179.746682,1.000000,30.00,30.00,0.00,39.323999,0.166667,0.166667,0.000000,0.166667,2,4,1200.0,264.032163,351.744608,0.000000,12
5,4118,7.980453,0.272727,0.00,0.00,0.00,95.842922,0.000000,0.000000,0.000000,0.083333,1,0,9500.0,198.014471,165.091997,0.000000,12
6,2002,949.530268,1.000000,45.65,45.65,0.00,47.786053,0.083333,0.083333,0.000000,0.083333,1,1,1000.0,303.450157,456.016895,0.000000,12
7,2842,1157.168369,1.000000,0.00,0.00,0.00,1249.682243,0.000000,0.000000,0.000000,0.583333,10,0,3000.0,264.548484,326.316359,0.000000,12
8,6210,1603.991792,1.000000,0.00,0.00,0.00,73.241870,0.000000,0.000000,0.000000,0.166667,2,0,1700.0,437.134508,673.208585,0.000000,12
9,7760,1060.039731,1.000000,340.00,49.00,291.00,0.000000,0.500000,0.083333,0.416667,0.000000,0,7,2500.0,261.761454,243.685673,0.000000,12

In [10]:
# Memilih kolom-kolom yang diinginkan dari dataframe df_dummy_data
df_inference = df_dummy_data[cols]

# Mengaplikasikan transformasi skala pada data yang telah dipilih
df_inference_scaled = scaler.transform(df_inference)

In [12]:
'''
Memeriksa jumlah fitur dalam data inferensi yang sudah diskalakan.

1. Mengambil jumlah fitur dalam data inferens yang sudah diskalakan.
2. Menampilkan jumlah fitur tersebut.
3. Memeriksa apakah jumlah fitur sesuai dengan yang diharapkan (17 fitur).
   Jika jumlah fitur tidak sesuai, maka akan memunculkan kesalahan (ValueError).
   '''
num_features_inference = df_inference_scaled.shape[1]
print("Number of features in inference data:", num_features_inference)  # Should print 17
if num_features_inference != 17:
    raise ValueError(f"Expected 17 features but got {num_features_inference}")

Number of features in inference data: 17

In [14]:
# Apply the loaded PCA model to the inference data
inference_data_scaled_pca = pca.transform(df_inference_scaled)
inference_data_scaled_pca = pd.DataFrame(inference_data_scaled_pca)
print(inference_data_scaled_pca.head())

          0          1         2         3         4         5         6  \
0 -1.789927  -1.334537  0.245445  0.078206 -1.983967 -2.071196  1.647374
1 -3.843362  10.910425  3.565555  8.543884 -1.842747  7.245868 -3.157497
2  4.724303  -0.977753 -0.280281  1.191088  0.359044  1.155812  1.696791
3 -2.599689   0.257193  0.056757  0.548831 -0.038096  1.802655 -0.109325
4 -1.719302  -0.867143 -0.205335 -1.115811 -0.640200  0.877032  0.073063

          7         8         9
0  0.955094 -1.112162 -0.099688
1 -3.542396  0.231128 -2.048615
2 -0.896047  0.966408 -0.164736
3  0.382184 -0.468411 -0.257827
4  0.006066 -0.129335 -0.189347

In [15]:
# Melakukan prediksi menggunakan model KMeans
pred = km.predict(inference_data_scaled_pca)

In [16]:
# Menampilkan hasil prediksi
pred

array([2, 4, 1, 2, 2, 0, 2, 4, 2, 2], dtype=int32)

Deskripsi Setiap Klaster:

* Klaster 0: Pelanggan dalam klaster ini mungkin menunjukkan pola penggunaan tertentu seperti pengeluaran rendah, pembayaran tepat waktu, atau penggunaan kartu yang jarang.
* Klaster 1: Pelanggan dalam klaster ini mungkin memiliki karakteristik seperti sering menggunakan kartu untuk transaksi besar atau memiliki saldo tinggi.
* Klaster 2: Pelanggan ini mungkin berada di antara pengguna berat dan pengguna ringan dengan pengeluaran moderat dan frekuensi penggunaan yang stabil.
* Klaster 4: Pelanggan dalam klaster ini mungkin adalah mereka yang sering terlambat membayar tagihan atau memiliki riwayat kredit yang lebih buruk.

Strategi Pemasaran yang Ditargetkan:

* Klaster 0: Tawarkan insentif untuk meningkatkan penggunaan, seperti cashback atau diskon untuk transaksi pertama.
* Klaster 1: Berikan penawaran eksklusif atau tingkatkan batas kredit karena mereka menunjukkan kemampuan dan kebiasaan pembayaran yang baik.
* Klaster 2: Berikan penawaran khusus yang mendorong loyalitas seperti program reward atau poin yang bisa ditukarkan.
* Klaster 4: Lakukan pendekatan untuk membantu mereka dengan pengelolaan keuangan, seperti penawaran restrukturisasi pembayaran atau konseling kredit.